# Virtual environments
virtual/
venv/

# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store