asgiref==3.11.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
cors==1.0.1
cryptography==46.0.4
dj-database-url==3.1.0
Django==6.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
filelock==3.20.1
future==1.0.0
gevent==25.9.1
google-auth==2.48.0
greenlet==3.3.0
gunicorn==24.0.0
idna==3.11
MarkupSafe==3.0.3
packaging==26.0
pillow==12.1.1
psycopg2==2.9.11
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
PyJWT==2.10.1
PySocks==1.7.1
python-dotenv==1.2.1
python-http-client==3.3.7
requests==2.32.5
requests-file==3.0.1
rsa==4.9.1
sendgrid==6.12.5
sqlparse==0.5.5
tldextract==5.3.0
urllib3==2.6.2
Werkzeug==3.1.5
zope.event==6.1
zope.interface==8.1.1
